<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SECRET PAGE</title>
</head>
<body>

<h1>SHOW ONE</h1>

            APPROVED: <b><%=media.approved%></b><br>

            TITLE: <b><%=media.title%></b><br>

            TYPE: <b><%=media.type%></b><br>

            CREATOR: <b><%=media.creator%></b><br>

            DESCRIPTION: <b><%=media.description%></b><br>

            IMAGE: <img src="<%=media.type%>"/><br>

            <form action="/admin/<%=media._id%>/edit" method="get">
                <button type="submit">Edit</button>
            </form>

             <form action="/admin/<%=media._id%>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>

</body>
</html>



           
        