<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SECRET PAGE</title>
</head>
<body>

<h1>SHOW</h1>

<form action = "/secret/new" method = "GET">
    <input type = "submit" value = "NEW"/>
</form>

<ul>
    <% for(i = 0; i < media.length; i++){%>

        <li>
            APPROVED: <b><%=media[i].approved%></b><br>

            TITLE: <b><%=media[i].title%></b><br>

            TYPE: <b><%=media[i].type%></b><br>

            CREATOR: <b><%=media[i].creator%></b><br>

            DESCRIPTION: <b><%=media[i].description%></b><br>

            IMAGE: <img src="<%=media[i].type%>"/><br>

            <form action="/secret/<%=media[i]._id%>/edit" method="get">
                <button type="submit">Edit</button>
            </form>

             <form action="/secret/<%=media[i]._id%>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>

    <% } %>
</ul>
    
</body>
</html>